<ion-view view-title="Hablando de Manzanas">
	<ion-content>

		<ion-item class="article-new">
			<h2 class="article-new__title">{{ new.title }}</h2>
			<div class="article-new__author-and-date">{{ new.author_name }}, {{ new.created }}</div>

			<div class="article-new__img-container">
				<img class="article-new__img-container__img" ng-src="{{ new.image_local_url }}">
			</div>

			<div class="article-new__body" compile="new.body">
			</div>
		</ion-item>

	</ion-content>
</ion-view>
