<p class="open-link__link">{{ openLinkUrl | limitTo: 50 }}{{openLinkUrl.length > 50 ? '...' : ''}}</p>

<button class="button button-block button-outline icon-left ion-share button-positive open-link__share"
		ng-click="shareThisArticle()">
	Compartir
</button>
<button class="button button-block icon-left open-link__copy"
		ng-click="copyLinkToClipboard(openLinkUrl)"
		ng-class="textCopied ? 'ion-checkmark-round button-balanced' : 'ion-ios-copy button-positive button-outline'">
	{{ textCopied ? 'Enlace copiado' : 'Copiar' }}
</button>
<button class="button button-block button-outline icon-left ion-earth button-positive open-link__browser"
		ng-click="openInAppBrowserSystem()">
	Navegar
</button>
<button class="button button-block icon-left ion-eye button-positive open-link__app"
		ng-click="openInAppBrowserInside()">
	Ver aquí
</button>
<button class="button button-block button-outline button-stable open-link__cancel"
		ng-click="closePopup()">
	Cancelar
</button>