<ion-view view-title="Hablando de Manzanas">
	<ion-content>

		<ion-refresher pulling-text="Refrescar noticias..." on-refresh="getLastestNews()">
		</ion-refresher>

		<ion-list>
			<ion-item class="article-new" ng-repeat="new in lastestNews" ng-click="viewArticle($event, new)">
				<h2 class="article-new__title">{{ new.title }}</h2>
				<div class="article-new__author-and-date">{{ new.author_name }}, {{ new.created }}</div>

				<div class="article-new__img-container">
					<img class="article-new__img-container__img" ng-src="{{ new.image_local_url }}"/>
				</div>

				<div class="article-new__summary" ng-bind-html="new.body_resume">
				</div>
			</ion-item>

			<p ng-show="!moreNews && !loadingNews && newsFromLocal" class="no-more-news-message">Lo sentimos, no hay más noticias descargadas. Conéctate a internet y refresca el listado.</p>
			<p ng-show="!moreNews && !loadingNews && !newsFromLocal" class="no-more-news-message">Lo sentimos, no hay más noticias. ¡Te has leído todo!</p>
		<ion-list>

		<ion-infinite-scroll ng-if="lastestNews.length && moreNews" on-infinite="getMoreNews()" distance="30%" immediate-check="false">
		</ion-infinite-scroll>

	</ion-content>
</ion-view>