<ion-side-menus enable-menu-with-back-views="false">
	<ion-side-menu-content>
		<ion-nav-bar class="bar-stable">
			<ion-nav-back-button>
			</ion-nav-back-button>

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>

			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ion-share"
					ng-click="shareThisArticle(true)"
					ng-if="state.current.name == 'app.articulo'">
				</button>
			</ion-nav-buttons>
		</ion-nav-bar>
		<ion-nav-view name="menuContent"></ion-nav-view>
	</ion-side-menu-content>

	<ion-side-menu side="left" width="200">
		<ion-header-bar class="bar-stable">
			<!-- <h1 class="title">Menú</h1> -->
		</ion-header-bar>
		<ion-content>
			<ion-list>
				<ion-item menu-close href="#/app/home">
					Home
				</ion-item>
<!-- 				<ion-item menu-close href="#/app/categorias">
					Categorias
				</ion-item> -->
				<ion-item menu-close href="#/app/videos">
					Videos
				</ion-item>
			</ion-list>
		</ion-content>
	</ion-side-menu>
</ion-side-menus>