<button class="button button-block icon-left ion-social-facebook share share_facebook"
		ng-click="shareThisArticleViaFacebook()">
	Facebook
</button>
<button class="button button-block icon-left ion-social-twitter share share_twitter"
		ng-click="shareThisArticleViaTwitter()">
	Twitter
</button>
<button class="button button-block icon-left ion-social-whatsapp share share_whatsapp"
		ng-click="shareThisArticleViaWhatsApp()">
	Whatsapp
</button>
<button class="button button-block icon-left open-link__copy"
		ng-click="copyLinkToClipboard(new.public_url)"
		ng-class="textCopied ? 'ion-checkmark-round button-balanced' : 'ion-ios-copy button-positive button-outline'">
	{{ textCopied ? 'Enlace copiado' : 'Copiar enlace' }}
</button>
<!--
<button class="button button-block icon-left ion-social-instagram share share_instagram"
		ng-click="shareThisArticleViaInstagram()">
	Instagram
</button>
-->
<button class="button button-block button-outline icon-left ion-more button-positive share_more"
		ng-click="shareThisArticleGeneric()">
	Más apps
</button>
<button class="button button-block button-outline button-stable share_cancel"
		ng-click="closePopup()">
	Cancelar
</button>