<ion-view view-title="Videos">
	<ion-content>

		<div class="youtube-video" ng-repeat="video in lastestVideos" ng-click="playVideo(video.id.videoId)">
			<div class="row">
				<div class="col col-33">
					<img class="youtube-video__image" ng-src="http://img.youtube.com/vi/{{ video.id.videoId }}/mqdefault.jpg">
				</div>
				<div class="col col-66">
					<h2 class="youtube-video__title">{{ video.snippet.title }}</h2>
					<p class="youtube-video__published">{{ video.snippet.publishedAt | date:'d MMMM yyyy' }}</p>
					<!-- <p class="youtube-video__description">{{ video.snippet.description }}</p> -->
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>
