.loading-articles{
	&__spinner{
		stroke: #FFF;
	}

	&__text{
		margin: 10px 0 0 0;
	}
}

.backdrop{
	background-color: rgba(0, 0, 0, 0.25);
}

.popup-head{
	display: none;
}

.row.no-padding-row{
	padding: 0px;
}

.item:first-child{
	border-top: none;
}