.item{
	&.activated{
		background-color: #FFF;
	}

	&.selected{
		background-color: #D9D9D9;
	}

	.article-new{
		position: relative;

		&__img-container{
			min-height: 100px;

			&__img{
				width: 100%;
				height: auto;
				border-radius: 2px;
				//box-shadow: 2px 2px 5px #ccc;
			}
		}

		&__title{
			font-size: 20px;
			overflow: visible;
			white-space: normal;
			margin: 0 0 0 0;
			font-weight: 400;
		}

		&__author-and-date{
			text-transform: capitalize;
			font-size: 12px;
			font-weight: 300;
			margin: 2px 0 10px 0;
		}

		&__summary{
			margin-top: 5px;

			*{
				overflow: visible;
				white-space: normal;
				color: #000;
				font-weight: 300;
			}
		}

		&__body{
			margin-top: 10px;

			*{
				overflow: visible;
				white-space: normal;
				color: #000;
				font-weight: 300;
				font-size: 14px;
			}

			h1, h2, h3, h4, h5, h6{
				margin-bottom: 10px;
				font-size: 18px;
				margin-top: 20px;
			}

			ul{
				list-style: initial;
				padding-left: 20px;
			}

			p{
				margin-bottom: 10px;
			}

			strong{
				font-weight: 600;
			}

			a{
				text-decoration: none;
				color: $brand-primary;
				font-weight: 400;
				// PARA FACILITAR EL CLIK, PROBAR
				padding: 20px;
				margin: -20px;
			}

			img{
				max-width: 100%;
				height: auto;
				margin-top: 15px;
				margin-bottom: 15px;
			}

			iframe{
				width: 100%;
				margin-top: 5px;
			}

			iframe[src^="https://www.youtube"] {
				max-height: 200px;
			}
		}
	}
}

.no-more-news-message{
	text-align: center;
	margin: 20px 10px;
}