.bar.bar-stable{
	border-color: none;
	background-color: $brand-primary;
	background-image: none;
	color: #FFF;

	.title {
		color: #FFF;
	}

	.button.button-clear{
		color: #FFF;
	}
}

.popup-container .popup{
	background-color: #FFF;
}

.popup{
	&-body{
		text-align: center;

		button.button:first-child{
			margin-top: 0px;
		}

		button.button:last-child{
			margin-bottom: 0px;
		}
	}
}

//Estas dos lineas deberian sobrescribirse con las variables...
.button.button-stable.button-outline {
    border-color: #777;
    color: #777;
}
.button.button-stable.button-outline.active, .button.button-stable.button-outline.activated {
    background-color: #777;
}

.button{
	&.share{
		color: #FFF;

		&_facebook{
			background-color: $facebook-color;

			&.activated{
				border-color: darken($facebook-color, 20%);
				background-color: darken($facebook-color, 20%);
			}
		}

		&_twitter{
			background-color: $twitter-color;

			&.activated{
				border-color: darken($twitter-color, 20%);
				background-color: darken($twitter-color, 20%);
			}
		}

		&_whatsapp{
			background-color: $whatsapp-color;

			&.activated{
				border-color: darken($whatsapp-color, 20%);
				background-color: darken($whatsapp-color, 20%);
			}
		}

		&_instagram{
			background-color: #c08d64;
		}

		&_more{
			
		}
		
		&_cancel{
			margin-top: 30px;
		}
	}
}

.menu-content {
    box-shadow: none;
}

.menu{
	.scroll-content{
		background-color: $brand-primary;
	}

	.item-complex{
		.item-content{
			background-color: $brand-primary;
			color: #FFF;
		}
	}
}