.yt-container{

	//Menudo hack guapo para que los videos tengan aspecto 16:9
	background-color: #ccc;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;

	iframe{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.youtube-video:first-child{
	padding-top: 5px;
}

.youtube-video:last-child{
	padding-bottom: 5px;
}

.youtube-video{
	&__image{
		width: 100%;
		height: auto;
	}

	&__title{
		font-size: 16px;
		overflow: visible;
		white-space: normal;
		margin: 0 0 0 5px;
		font-weight: 400;
	}

	&__description{
		white-space: normal;
	}

	&__published{
		margin: 5px 0 0 5px;
		font-size: 14px;
    	color: #555;
	}
}